body {
    margin: 0;
}
.all{
    background-color: #ccf2f4;
}

.container{
    padding: 0;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: 'dancing script', cursive;
    color: rgb(97, 97, 97);
}
hr{
    width: 400px;
    border: double;
    border-width: 4px 0 0 ;
    text-align: center;
    margin-left: 450px;
}
.asosiy{
    background-color: #ccf2f4;
    position: relative;
    height: 400px;
}

.cloud{
    position: relative;
    top: 25px;
    left: 1000px;
}
.programmer{
    text-align: center;
    font-size: 30px;
    color: rgb(97, 97, 97);
}
.cloud-sekond{
    position: relative;
    top: 50px;
    left: 250px;
}
.oldi-dumaloq{
    width: 400px;
    height: 200px;
    border-radius: 500px 500px 0 0;
    background-color: #1f441e;
    position: absolute;
    top: 380px;
    left: 290px;
    z-index: 3;
}
.urta-dumaloq{
    width: 360px;
    height: 180px;
    border-radius: 500px 500px 0 0;
    background-color: #fff;
    position: absolute;
    top: 400px;
    left: 600px;
    z-index: 2;
}
.orqa-dumaloq{
    width: 300px;
    height: 180px;
    border-radius: 500px 500px 0 0;
    background-color: green;
    position: absolute;
    top: 320px;
    left: 495px;
    z-index: 1;
}
.flag{
    width: 200px;
    position: relative;
    top: 2px;
    left: 205px;
    transform: scaleX(-1);
}
.archa{
    width: 100px;
    position: absolute;
    top: 480px;
    left: 860px;
    z-index: 4;
}
.archaa{
    width: 100px;
    position: absolute;
    top: 480px;
    left: 290px;
    z-index: 4;
}
.flagg{
    width: 200px;
    position: absolute;
    top: 346px;
    left: 810px;
    transform: scaleX(-1);

}
.middle{
    background-color:#ccf2f4;
    margin-top: 200px;
    text-align: center;
}

.malu{
    width: 200px;
    border-radius: 50%;
    text-align: center;
    
}
.malu:hover{
    content: url('img/rasm.jpg');
    
}
.uzim{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}
               /*main*/
              
.main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% auto;
    
    
}
.item1{
    background-color:#ccf2f4;
    margin-top: 10px;
    text-align: center;
}
.maluu{
    border-radius: 85%;
    width: 150px;
    height: 150px;
    margin-left: 185px;
    margin-top: 10px;
}
.mainP{
    font-size: 30px;
    text-align: left;
    font-family: 'dancing script', cursive;
    color: rgb(97, 97, 97);
}

/*main1*/
.main1{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% auto;
   
    
}
.item11{
    background-color:#ccf2f4;
    margin-top: -24px;
    text-align: left;
}
.maluu1{
    border-radius: 85%;
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 10px;
}
.mainP1{
    font-size: 30px;
    text-align: left;
    font-family: 'dancing script', cursive;
    color: rgb(97, 97, 97);
}
.span{
    margin: 20px;
    margin-right: 165px ;
}
h4,h6{
    text-align: center;
    font-family: 'dancing script', cursive;
    color: rgb(97, 97, 97);
}
.button{
    text-align: center;
    border-radius: 10px;
    background-color: #1687a7;
    border: none;
    width: 115px;
    height: 35px;
   margin-top: 20px;
    margin-left: 20px;
    
}
a{
    text-decoration: none;
    color: #fff;
}
.footer{
    
    background-color:#78c4d4;
    width: 100%;
    height: auto;
    
   
}

.a{
    text-decoration: none;
    text-align: center;
    color: rgb(97, 97, 97); 
    font-size: 20px;
    
}

.p{
    text-align: center;
    margin: 0;
    padding: 35px;
   

}
i{
    margin: 0;
    color: #fff;
    font-size: 30px;
    margin-left: 50px;
}
